body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.notification {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  color: #333;
  font-size: 2.2em;
  margin-bottom: 20px;
}

.task-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.task-input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.add-task-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.add-task-button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

li:nth-child(even) {
  background: #fff;
}

li:hover {
  background-color: #f1f1f1;
}

li button {
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

li button:hover {
  background-color: #d32f2f;
}
